
 canvas[resize] {
		 width: 100%;
		 height: 100%;

	 }
   canvas{
     position: absolute;
   }

		*{
			margin: 0;
			padding: 0;
			border: 0;
			outline: 0;
			font-scale: 100%;
			vertical-align: baseline;
			background: transparent;
		}
		html,
		body {
			width: 100%;
			height: 100%;
			line-height: 1;
      background: black;
		}
		* {-webkit-tap-highlight-color: rgba(0,0,0,0);}

		.game{
			position: absolute;
			width:1200px;
			height: 548px;
			background-color: black;
			margin: 0 auto;
			overflow: hidden;
		}


canvas{
  /* background: gray; */
}
